#direction_map
#direction_container
  form.form-inline#direction_form
    input(class="form-control" type="text" id ="direction_from" placeholder ="From ..." value="union square, NY")
    input(class="form-control" type="text" id ="direction_to" placeholder ="To ..." value="times square, NY")
    // input(class="form-control" id="direction_datetimepicker" type="text")
    // button(class="btn btn-default" id ="direction_add") Add Item
  button(type="button" class="btn btn-default" id="direction_start_sim") Start Simulation
  button(type="button" class="btn btn-default" id="direction_terminate_sim") Terminate Simulation
  button(type="button" class="btn btn-default" id="direction_clear_sim") Clear Simulation    
  ul#direction_list