#heatmap_stores_map
#heatmap_stores_year 2005-1
#heatmap_stores_container
  button(type="button" class="btn btn-default" id="heatmap_start_sim") Start Simulation
  button(type="button" class="btn btn-default" id="heatmap_terminate_sim") Terminate Simulation
