div(class="navbar navbar-inverse navbar-fixed-top")
  div(class="container")
    div(class="navbar-collapse collapse")
      ul(class="nav navbar-nav")
        li#home
          a(href='/') Home
        li#Travel
          a(href='/travel') Travel
        li#heatmap_stores
          a(href='/heatmap') Heatmap_Stores
        li#navi
          a(href='/direction') Navi