extends layout

block navbar
  .navbar
block content
  .content
    block map
      .map
    block simulation
      .simulation
        block solar
          .solar
            block solarPV_simulation
            block solarPV_factors
          .wind
            block windTurbine_simulation
            block windTurbine_factors