extends layout

block navbar
  .navbar
block content
  .content
    block solar_position
      #solar_position
        block map
          #map
        block radiation
          #radiation
            include ./includes/radiation.jade
    block simulation
      .simulation
        block solar
          .solar
            include ./includes/solarPV.jade
          .wind
            include ./includes/windTurbine.jade