extends layout

block navbar
  .navbar
block content
  .content
    block map
      #map
    block simulation
      .simulation
        block solar
          .solar
            include ./includes/solarPV.jade
          .wind
            include ./includes/windTurbine.jade