doctype html
html
  head
    title = title
    link(rel='stylesheet', href='css/style.css')
  body
    block navbar
    block content
      block map
      block simulation
        block solar
          block solarPV_simulation
          block solarPV_factors
        block wind
          block windTurbine_simulation
          block windTurbine_factors