extend layout
block head
  head
    title Symbols on polylines
    //- <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel='stylesheet', href='css/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
    script(src="js/travel.js")
  body(onload="initialize()")
    block navbar
      .navbar
        include ./includes/navbar.jade
    block content
      .travel_content
        include ./includes/travel_body.jade
                
  link(rel="stylesheet" type="text/css" href="js/datetimepicker/jquery.datetimepicker.css")
  script(src="js/datetimepicker/jquery.js")
  script(src="js/datetimepicker/jquery.datetimepicker.js")