html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    float: left;
    height: 50%;
    width: 40%;
    position: absolute;
}

#simulation {
    float: right;
    font-family: 'Roboto','sans-serif';
    height: 100%;
    line-height: 30px;
    padding-left: 10px;
    width: 60%;
}

#simulation > #solar {
    width : 100%;
    height : 50%;
}

#simulation > #solar > #solar_simulation {
    width: 60%;
    position : relative;
}

#simulation > #solar .form_horizontal{
    width: 35%;
}

#simulation > #wind {
    height : 50%;
}

#simulation > #wind > #wind_simulation{
    width : 60%;
}

/* #simulation > #solar > #start_sim_btn { */
/*     margin-left:50%; */
/* } */
